<h1> Agregar nuevo contacto</h1>

<form method="POST" >
    <label>Nombre:</label> 
    <input type="text" readonly, name="nombre" required><br>

    <label>Primer apellido :</label> 
    <input type="text" readonly, name="primer_apellido" required><br>

    <label>Segundo apellido :</label> 
    <input type="text" readonly, name="segundo_apellido" required><br>

    <label>Teléfono :</label> 
    <input type="text" readonly, name="telefono" required><br>

    <label>Email :</label> 
    <input type="text" readonly, name="email" required><br> <br>

    <button> <a href="/lista_contacto">Cancelar </a> </button>
    <button name="insertar" value="insertar"> Insertar </button>
</form>

