$def with(contactos)
<h1> Bienvenidos a la agenda de contactos</h1>
<button> <a href="/insertar_contacto">Nuevo contacto </a> </button><br><br>

    <table class="table" align="center">
    
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Primero apellido</th>
            <th scope="col">Segundo apellido</th>
            <th scope="col">Email</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Opciones</th>
        </tr>
    $for contacto in contactos:            
        <tr> 
            <th>$contacto['id_contacto']</th>
            <td>$contacto['nombre']</td>
            <td>$contacto['primer_apellido']</td>
            <td>$contacto['segundo_apellido']</td>
            <td>$contacto['email']</td>
            <td>$contacto['telefono']</td>
            <td> 
                <button><a href="/ver_contacto/$contacto['id_contacto']">Ver </a> </button><br>
                <button><a href="/editar_contacto/$contacto['id_contacto']">Editar </a> </button><br>
                <button><a href="/borrar_contacto">Borrar </a> </button><br><br></td>
        </tr>
    </table>
<button><a href="/">Regresar </a> </button><br><br></td>