<h1 > Contactos</h1>

<form method="POST" >
    <label>ID:</label> <input type="text", name="id_contacto"><br>
    <label>Nombre:</label> <input type="text", name="nombre"><br>
    <label>Primer nombre :</label> <input type="text", name="primer_apellido"><br>
    <label>Segundo nombre :</label> <input type="text", name="segundo_apellido"><br>
    <label>Teléfono :</label> <input type="text", name="email"><br>
    <label>Email :</label> <input type="text", name="telefono"><br>
    
</form>
<button> <a href="/lista_contacto">Regresar </a> </button>
